{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}
{% block nav %}
    {{parent()}}
    
{% endblock %}
{% block body %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <td colspan="7">liste des sessions - <a href="{{path('createSession')}}">Créer une session</a></td>
        </tr>
        <th scope="col">Intitulé session</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Nb places</th>
        <th scope="col">Nb places réservées</th>
        <th scope="col">places restantes</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
    </thead>
    <tbody>
    {% for session in sessions %}
        <tr>
            <td>{{session.nom}}</td>
            <td>{{session.dateDebut | date("d/m/Y")}}</td>
            <td>{{session.dateFin | date("d/m/Y")}}</td>
            <td>{{session.nbPlaces}}</td>
            <td>{{session.stagiaires | length}}</td>
            <td>{{session.nbPlaces - session.stagiaires | length}}</td>
            <td><a href="{{path('programme',{id:session.id})}}"><i class="fas fa-clipboard"></i></a></td>
            <td><a href="{{path('ModifSession',{id:session.id})}}"><i class="far fa-edit"></i></a></td>
            <td><a href="{{path('session_delete',{id:session.id})}}"><i class="far fa-trash-alt"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>       
</table>

{% endblock %}
