{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}
{% block nav %}
    <a  class="rounded p-1 mb-4 bg-light text-dark" href="{{path('createSession')}}">Créer une session</a>
    {{parent()}}
{% endblock %}
{% block body %}
<!-- <table class="table">
    <thead class="thead-light">
        <tr>
            <td colspan="7">liste des sessions - <a href="{{path('createSession')}}">Créer une session</a></td>
        </tr>
        <th scope="col">Intitulé session</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Nb places</th>
        <th scope="col">Nb places réservées</th>
        <th scope="col">places restantes</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
    </thead> -->
    <div class="flex home mt-1">
    {% for session in sessions %}
    {% set difference = session.dateDebut.diff(session.dateFin) %}
        <div id="session_{{session.id}}"class="alert alert-dark">
            <p><h4>{{session.nom}}</h4> du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}} soit {{difference.y}} ans  {{difference.m}} mois et {{difference.d}} jours</p>
            <p>Places disponibles : {{session.nbPlaces}}</p>
            <p>Place réservées : {{session.stagiaires | length}}</p>
            {% set places = session.nbPlaces - session.stagiaires | length %}
            {% if places == 0 %}
                {% set places = "formation complète" %}
                <p class="errors"> {{places}}</p>
            {% else %}
            <p class="success">Places restantes : {{places}}</p>
                
            {% endif %}
            <p class="d-flex p-2 justify-content-between">
                <a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('programme',{id:session.id})}}"><i class="fas fa-clipboard"></i></a> 
                <a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('ModifSession',{id:session.id})}}"><i class="far fa-edit"></i></a> 
                <a data-id="{{session.id}}" class="delSession border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('session_delete')}}"><i class="far fa-trash-alt"></i></a>
            </p>
        </div>
        {% endfor %}
    </div>       
</table>

{% endblock %}
