{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}
{% block nav %}
<div>
    <a  class="rounded bg-light text-dark" href="{{path('createSession')}}">Créer une session</a>
</div>
    {{parent()}}
{% endblock %}
{% block body %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Intitulé session</th>
            <th scope="col">Date de début</th>
            <th scope="col">Date de fin</th>
            <th scope="col">Durée</th>
            <th scope="col">Places</th>
            <th scope="col">Réservées</th>
            <th scope="col">Reste</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="">
    {% for session in sessions %}
    {% set difference = session.dateDebut.diff(session.dateFin) %}
        <tr id="session_{{session.id}}"class="alert alert-dark">
            <td><a class="" href="{{path('programme',{id:session.id})}}">{{session.nom}}</a></td> 
            <td> {{session.dateDebut | date("d/m/Y")}} </td>
            <td>{{session.dateFin | date("d/m/Y")}}</td>
            {%  set ans = difference.y %}
            {%  set mois = difference.m %}
            {%  set jours = difference.d %}
            <td>
                {% if ans != 0 %}
                {{difference.y}} ans
                {% endif %}
                {% if mois != 0 %}
                {{difference.m}} mois
                {% endif %}
                {% if jours != 0 %}
                {{difference.d}} jours
                {% endif %}
            </td>
            <td>{{session.nbPlaces}}</td>
            <td>{{session.stagiaires | length}}</td>
            {% set places = session.nbPlaces - session.stagiaires | length %}
            {% if places == 0 %}
                {% set places = "formation complète" %}
                <td class="error"> {{places}}</td>
            {% else %}
            <td class="succes">{{places}}</td>
                
            {% endif %}
            <td class="">
                <a class="" href="{{path('programme',{id:session.id})}}"><i class="fas fa-clipboard"></i></a> 
                <a class="" href="{{path('ModifSession',{id:session.id})}}"><i class="far fa-edit"></i></a> 
                <a data-id="{{session.id}}" class="delSession " href="{{path('session_delete')}}"><i class="far fa-trash-alt"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>       
</table>

{% endblock %}
