{% extends 'base.html.twig' %}

{% block title %}Liste des sessions{% endblock %}
{% block nav %}
    {{parent()}}
    <a  class="rounded p-3 mb-2 bg-light text-dark" href="{{path('createSession')}}">Créer une session</a>
{% endblock %}
{% block body %}
<!-- <table class="table">
    <thead class="thead-light">
        <tr>
            <td colspan="7">liste des sessions - <a href="{{path('createSession')}}">Créer une session</a></td>
        </tr>
        <th scope="col">Intitulé session</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Nb places</th>
        <th scope="col">Nb places réservées</th>
        <th scope="col">places restantes</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
    </thead> -->
    <div class="flex mt-4">
    {% for session in sessions %}
        <div class="alert alert-dark">
            <p><a class="alert-link" href="{{path('programme',{id:session.id})}}"><i class="fas fa-clipboard"></i></a> 
                - <a class="alert-link" href="{{path('ModifSession',{id:session.id})}}"><i class="far fa-edit"></i></a> 
                - <a class="alert-link" href="{{path('session_delete',{id:session.id})}}"><i class="far fa-trash-alt"></i></a></p>
            <p><h4>{{session.nom}}</h4> du {{session.dateDebut | date("d/m/Y")}} au {{session.dateFin | date("d/m/Y")}}</p>
            <p>Places disponibles : {{session.nbPlaces}}</p>
            <p>Place réservées : {{session.stagiaires | length}}</p>
            <p>Places restantes : {{session.nbPlaces - session.stagiaires | length}}</p>
        </div>
        {% endfor %}
    </div>       
</table>

{% endblock %}
