{% extends 'base.html.twig' %}

{% block title %}Détail stagiaire{% endblock %}
{% block body %}
{% set difference = date("now").diff(date(stagiaire.birth)) %}
<div class="stagiaire mt-3 w-50">
    <a href="{{path('updateStagiaire',{id:stagiaire.id})}}">Modifier</a>
    <h1><span class="avatar  mr-5">
        <img src="{{asset('img/'~stagiaire.photo)}}" alt="">
    </span><span>Fiche stagiaire</span></h1>
    <h2>{{stagiaire.prenom}} {{stagiaire.nom}}</h2>
    {% if stagiaire.photo != null %}
         
    {% endif %}
    {% if stagiaire.sexe == 1 %}
        {% set sexe = "M"  %}
    {% else %}
        {% set sexe = "F" %}
    {% endif %}
    <p>sexe : {{sexe}}</p>
    <p>Date de naissance : {{stagiaire.birth | date("d/m/Y")}} ({{difference.y}} ans)</p>
    <p>ville : {{stagiaire.ville}}</p>
    <p>courriel : {{stagiaire.email}}</p>
    <p>Téléphone : {{stagiaire.phone}}</p>
    <h2>Sessions prévues</h2>
    <ul>
        {% for session in stagiaire.sessions %}
        <li>
            
            <td><a href="{{path('programme',{id:session.id})}}">{{session.nom}}</i></a></td>
        </li>
            
        {% endfor %}
    </ul>
</div>

{% endblock %}
