{% extends 'base.html.twig' %}

{% block title %}Détail stagiaire{% endblock %}
{% block body %}
{% set difference = date("now").diff(date(stagiaire.birth)) %}
<div class="rounded bg-light text-dark stagiaire mt-3 w-50">
    <a class="rounded d-inline-block p-1 mt-1 mb-2 bg-dark text-white" href="{{path('updateStagiaire',{id:stagiaire.id})}}">Modifier</a>
    {% set dateCrea = stagiaire.createdate|date("d/m/Y") %}
    <span>Inscrit le : {{dateCrea}}</span>
    <h1><span class="avatar  mr-5">
        <img src="{{asset('img/'~stagiaire.photo)}}" alt="">
    </span><span>Fiche stagiaire</span></h1>
    <h2>{{stagiaire.prenom}} {{stagiaire.nom}}</h2>
    {% if stagiaire.photo != null %}
         
    {% endif %}
    {% if stagiaire.sexe == 1 %}
        {% set sexe = "M"  %}
    {% else %}
        {% set sexe = "F" %}
    {% endif %}
    <p>sexe : {{sexe}}</p>
    <p>Date de naissance : {{stagiaire.birth | date("d/m/Y")}} ({{difference.y}} ans)</p>
    <p>ville : {{stagiaire.ville}}</p>
    <p>courriel : {{stagiaire.email}}</p>
    <p>Téléphone : {{stagiaire.phone}}</p>
    {% if stagiaire.sessions | length > 0 %}
    <table class="table">
        <thead class="">
            <th scope="col">Inscrit à</th>
            <th scope="col">Détail</th>
            <th scope="col" width ="15%">Attestation de formation</th>
        </thead>    
        {% for session in stagiaire.sessions %}
        <tr>
            <td>
                <a class="text-dark" href="{{path('programme',{id:session.id})}}">{{session.nom}}</a>
            </td>
            <td>
                <a class="text-dark" href="{{path('programme',{id:session.id})}}"><i class="fas fa-clipboard"></i></a>
            </td>
            <td>
                <a class="text-dark" href="{{path('acme_demo_pdf',{id:session.id,id_stagiaire:stagiaire.id})}}"><i class="far fa-file-pdf"></i></a>               
            </td>            
        </tr>
            
        {% endfor %}
    </table>
    {% endif %}
    {{form_start(form)}}
    <div class="flex">
    {% for session in form.sessions %}
    {% set index  = session.vars.value %} 
    {% set entity = form.sessions.vars.choices[index].data %}
        {% if entity.stagiaires|length == entity.nbPlaces %}
            <div class="error">
                {{form_row(session)}}
            </div>
        {% else %}
            <div>
                {{form_row(session)}} 
            </div>
        {% endif %}
        {% endfor %}
    </div>
    {{form_rest(form)}}
</div>
{{form_end(form)}}        
    

{% endblock %}
