{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}
{% block nav %}
{{parent()}}
{% endblock %}
{% block body %}
<table class="table">
    <thead>
        <th>Photo</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Détail</th>
        <tbody>
            {% set photo = "" %}
            {% for stagiaire in stagiaires %}
                {% if stagiaire.photo != null %}
                    {% set photo = asset('img/'~stagiaire.photo) %}
                {% else %}
                    {% set photo = asset('img/avatar.jpg') %}
                {% endif %}
                <tr>                    
                    <td class="align-middle photo">
                        <button type="button" class="modalButton" data-toggle="modal" data-target="#exampleModalCenter{{stagiaire.id}}">
                            <img src="{{photo}}" alt="">
                        </button>
                        <!-- Modal -->
                        
                        <div class="modal fade" id="exampleModalCenter{{stagiaire.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{stagiaire.nom|capitalize}} {{stagiaire.prenom|capitalize}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {% set difference = date("now").diff(date(stagiaire.birth)) %}
                                <div class="stagiaire">
                                    <a class="rounded d-inline-block p-3 mt-1 mb-2 bg-light text-dark" href="{{path('updateStagiaire',{id:stagiaire.id})}}">Modifier</a>
                                    <h1><span class="avatar mr-5">
                                        <img src="{{asset('img/'~stagiaire.photo)}}" alt="">
                                    </span><span>Fiche stagiaire</span></h1>
                                    <h2>{{stagiaire.prenom}} {{stagiaire.nom}}</h2>
                                    {% if stagiaire.photo != null %}
                                         
                                    {% endif %}
                                    {% if stagiaire.sexe == 1 %}
                                        {% set sexe = "M"  %}
                                    {% else %}
                                        {% set sexe = "F" %}
                                    {% endif %}
                                    <p>sexe : {{sexe}}</p>
                                    <p>Date de naissance : {{stagiaire.birth | date("d/m/Y")}} ({{difference.y}} ans)</p>
                                    <p>ville : {{stagiaire.ville}}</p>
                                    <p>courriel : {{stagiaire.email}}</p>
                                    <p>Téléphone : {{stagiaire.phone}}</p>
                                    <h2>Sessions prévues</h2>
                                    <p>
                                        {% for session in stagiaire.sessions %}
                                            <span><a href="{{path('programme',{id:session.id})}}">{{session.nom}}</i></a></span>
                                        {% endfor %}
                                    </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                    <td class="align-middle">{{stagiaire.nom|capitalize}}</td>
                    <td class="align-middle">{{stagiaire.prenom|capitalize}}</td>
                    <td class="align-middle" width="15%">
                        <a class="border rounded d-inline-block p-3 mt-1 mb-2 bg-light text-dark" href="{{path('/stagiaire/detailStagiaire',{id:stagiaire.id})}}"><i class="fas fa-user"></i></a>
                        <a class="border rounded d-inline-block p-3 mt-1 mb-2 bg-light text-dark" href="{{path('stagiaire_delete',{id:stagiaire.id})}}"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                
                
            {% endfor %}
            
        </tbody>
    </thead>
</table>

{% endblock %}
