{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}
{% block nav %}
{{parent()}}
<a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('addStagiaire')}}">Ajouter un stagiaire</a>
{% endblock %}
{% block body %}

            {% set photo = "" %}
            <div class="trombi">
            {% for stagiaire in stagiaires %} 
            {% if stagiaire.photo != null %}
                {% set photo = asset('img/'~stagiaire.photo) %}
            {% else %}
                {% set photo = asset('img/avatar.jpg') %}
            {% endif %}           
            <div class="trombiStag">
                <p>{{stagiaire.nom}} {{stagiaire.prenom}}</p>
                <img src="{{photo}}" alt="">
            </div>            
            {% endfor %}
        </div>
            
       

{% endblock %}
