{% extends 'base.html.twig' %}

{% block title %}Créer une session de formation{% endblock %}

{% block body %}
{# {{form(form)}} #}
<div class="container prog">
    <div>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.date_debut) }}
        {{ form_row(form.date_fin) }}
    </div>
    <div>
        {{ form_row(form.nb_places) }}
        <div class="flex list_stag">
            {% for stagiaire in form.stagiaires %}             
                    {{ form_row(stagiaire) }}
            {% endfor %}
        </div>
        
<input class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" type="submit">

    </div>
</div>
{{ form_end(form) }}

{% endblock %}
