{% extends 'base.html.twig' %}

{% block title %}Créer une session de formation{% endblock %}

{% block body %}
{# {{form(form)}} #}
{{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.date_debut) }}
        {{ form_row(form.date_fin) }}
        {{ form_row(form.nb_places) }}
        {{ form_row(form.stagiaires) }}

        <button class="btn btn-primary">créer</button>
    {{ form_end(form) }}
{% endblock %}
