{% extends 'base.html.twig' %}

{% block title %}Détail {{thisSession.nom}}{% endblock %}
{% block nav %}
{{parent()}}

{% endblock %}
{% block body %}
<div class="flex affich_session container-fluid">
    <div class="programme">
        <div  class="title_sess alert alert-dark"> 
            
            <h4>{{thisSession.nom}} <a class="" href="{{path('ModifSession',{id:thisSession.id})}}"><i class="ml-2 far fa-edit"></i></a></h4>
            <a class="" href="{{path('vacances',{id:thisSession.id})}}">Ajouter des vacances</a>
            {% for vacance in vacances %}
            {% set diffVac = vacance.dateDebut.diff(vacance.dateFin) %}
                <p> vacances du  {{vacance.dateDebut|date('d-m-Y')}} au {{vacance.dateFin|date('d-m-Y')}} soit {{diffVac.days + 1}} jours<a class="ml-2" href="{{path('delVacances',{id:vacance.id})}}"><i class="far fa-trash-alt"></i></a></p>
                    
                {% endfor %}
            
            {% set difference = thisSession.dateDebut.diff(thisSession.dateFin) %}
            <div class="mt-4">
                {% set places = thisSession.nbPlaces - thisSession.stagiaires | length %}
                {% if places == 0 %}
                    {% set comp = "error" %}
                    {% set places = 'formation complète' %}
                {% else %}
                    {% set comp = "succes" %}
                    
                {% endif %}
                <div class="flex align-middle" >
                    <p class="text-center alert alert-dark">Du {{thisSession.dateDebut| date("d/m/Y")}} au {{thisSession.dateFin| date("d/m/Y")}} soit {{difference.y}} ans {{difference.m}} mois et {{difference.d}} jours
                    <span class="">nb places : {{thisSession.nbPlaces}} -<span class={{comp}}> places restantes : {{places}} </span></span></p>
                   
                    
                </div>
                {% if tps_session < longueur %}
                <p>cette session a une durée de {{longueur}} jours, vous avez déjà programmé  {{tps_session}} jours.
                    Vous disposez encore de {{longueur - tps_session}} jours.
                </p>
                {% else %}
                    <p> Le programme de formation est complet</p>             
                {% endif %}
            </div>
        </div>
        <h4>Programme
            {% if tps_session < longueur %}
           
            <a class="" href="{{path('CreaProgramme',{id:thisSession.id})}}"><i class="far fa-plus-square"></i></a>
            {% endif %}
                  
        </h4>
        <table class="table text-center ">
            <thead class="thead-light">
                {% set duree = 0 %}                  
                <th scope="col">Module</th>
                <th scope="col">Duree</th>
                <th scope="col"></th>
                <tbody>
                    {% for  key,cat in tab |sort((a, b) => b <=> a)  %}
                    <tr class="title_cat">
                        <td colspan="3">
                            {{key}}
                        </td>
                    </tr>   
                        {% for programme in cat  %}
                        <tr id="programme_{{programme.id}}">
                            <td>{{programme.module.nom}}</td>
                            <td>
                                {{programme.duree}}
                                {% set duree = duree + programme.duree %}
                            </td>
                            <td width="15%">
                                <a class="" href="{{path('ModifDuree',{id:programme.id,id_session:thisSession.id})}}"><i class="far fa-edit"></i></a>
                                <!-- <a class="" href="{{path('ModifModule',{id:programme.module.id})}}"><i class="far fa-edit"></i></a> -->
                                <a data-id="{{programme.id}}" data-session="{{thisSession.id}}" class="delProgramme " href="{{path('programme_delete',{id:programme.id})}}"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}                    
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
        {% set inscrit = [] %}
        {% set nonInscrit = [] %}
        {% for stagiaire in form.stagiaires %}
            
            {% if stagiaire.vars.checked == 1 %}
            {% set inscrit = inscrit | merge([stagiaire]) %}
            {% else %}
            {% set nonInscrit = nonInscrit | merge([stagiaire]) %}
            {% endif %}
        {% endfor %}
        <div>
        <h4>Stagiaires inscrits</h4><a class="" href="{{path('trombi',{id:thisSession.id})}}">Trombinoscope</a>
        <table class="table">
            <thead class="thead-light">
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">age</th>
                <th scope="col">détail</th>
                <th scope="col">inscrit</th>
            </thead>            
            <!-- {{form_start(form)}} -->
            <tbody id="inscrit">
            {% for stagiaire in inscrit %}
            {% set index  = stagiaire.vars.value %}    
            {% set entity = form.stagiaires.vars.choices[index].data %}
            {% set difference = date("now").diff(date(entity.birth)) %}
                <tr id="{{entity.id}}">
                    <td>{{entity.nom|capitalize}}</td>
                    <td>{{entity.prenom|capitalize}}</td>
                    <td>{{difference.y}}</td>
                    <!-- <td> {{form_row(stagiaire,{ 'attr': {'data-session': thisSession.id,'data-stagiaire':entity.id}})}}</td> -->
                    <td><a class="button" href="{{path('/stagiaire/detailStagiaire',{id:entity.id})}}"><i class="fas fa-user"></i></a>
                    </td>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="add_stagiaire[stagiaires][]" id="add_stagiaire_stagiaires_{{entity.id}}" value="{{entity.id}}">
                            <input type="hidden" name="remove" id="add_stagiaire_stagiaires_{{entity.id}}" value="{{entity.id}}">
                            
                            <button class="button remove" class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" type="submit" ><i class="fas fa-user-minus"></i></button>

                        </form>

                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>            
        </table>
        {% if nonInscrit is not empty %}
        <h4>Stagiaires non inscrits</h4>            
        {% endif %}
        <table class="table">
            <tbody id="nonInscrit">
            {% for stagiaire in nonInscrit %}
            {% set index  = stagiaire.vars.value %}    
            {% set entity = form.stagiaires.vars.choices[index].data %}
            {% set difference = date("now").diff(date(entity.birth)) %}
                <tr id="{{entity.id}}">
                    <td>{{entity.nom|capitalize}}</td>
                    <td>{{entity.prenom|capitalize}}</td>
                    <td>{{difference.y}}</td>
                    <!-- <td> {{form_row(stagiaire,{ 'attr': {'data-session': thisSession.id,'data-stagiaire':entity.id}})}}</td> -->
                    <td><a class="button" href="{{path('/stagiaire/detailStagiaire',{id:entity.id})}}"><i class="fas fa-user"></i></a>
                    </td>
                    <td>
                        <form action="" method="post">
                            <input type="hidden" name="add_stagiaire[stagiaires][]" id="add_stagiaire_stagiaires_{{entity.id}}" value="{{entity.id}}">
                            <input type="hidden" name="add" id="add_stagiaire_stagiaires_{{entity.id}}" value="{{entity.id}}">
                            
                            <button class="button" type="submit" value="inscrire"><i class="fas fa-user-plus"></i></button>

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- {{form_end(form)}} -->
    </div>
</div>
{% endblock %}
