{% extends 'base.html.twig' %}

{% block title %}Détail session{% endblock %}
{% block nav %}
{{parent()}}

{% endblock %}
{% block body %}
<div class="flex prog">
    <div>
        <div>
            <h1>{{session.nom}}</h1>
            {% set difference = session.dateDebut.diff(session.dateFin) %}
            <div class="mt-4">
                <p class="text-center alert alert-dark">Du {{session.dateDebut| date("d/m/Y")}} au {{session.dateFin| date("d/m/Y")}} soit  {{difference.m}} mois et {{difference.d}} jours</p>
                <div class="flex align-middle" >
                    <span class="alert alert-dark">nb places : {{session.nbPlaces}} - places restantes : {{session.nbPlaces - session.stagiaires | length}} </span>
                    {% if session.programmes | length == 0 %}
                    <a class="text-center alert alert-dark" href="{{path('CreaProgramme',{id:session.id})}}">Créer un programme de formation</a>
                    {% else %}
                    <a class="text-center alert alert-dark" href="{{path('CreaProgramme',{id:session.id})}}">Ajouter un module</a>
                    {% endif %}
                    <a class="text-center alert alert-dark" href="{{path('trombi',{id:session.id})}}">Trombinoscope</a>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="thead-light">
                <th scope="col">Module</th>
                <th scope="col">Duree</th>
                <th scope="col"></th>
                <tbody>                    
                    {% for  key,cat in tab  %}
                    <tr class="title_cat">
                        <td colspan="3">
                            {{key}}
                        </td>
                    </tr>   
                        {% for programme in cat  %}
                        <tr>
                            <td>{{programme.module.nom}}</td>
                            <td>{{programme.duree}}</td>
                            <td width="15%"><a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('programme_delete',{id:programme.id,id_session:session.id})}}"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                        {% endfor %}                    
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
    <div>
        {% if session.stagiaires|length != 0 %}
            <div colspan="2">
                <h2>Stagiaires</h2><span>
                {# {% if session.nbPlaces - session.stagiaires | length > 0 %}
                <a href="{{path('addStagiaireSess',{id:session.id})}}">Ajouter/supprimer un stagiaire</a></span> 
                {% else %}
                <a href="{{path('addStagiaireSess',{id:session.id})}}">Supprimer un stagiaire</a></span>             
                {% endif %} #}
            </div>
        <table class="table mg_tab">
            <thead class="thead-light">
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th width="5%" scope="col">Détail</th>
                <tbody>
                    {% for stagiaire in session.stagiaires %}
                    <tr>
                        <td>{{stagiaire.nom|capitalize}}</td>
                        <td>{{stagiaire.prenom|capitalize}}</td>
                        <td><a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('/stagiaire/detailStagiaire',{id:stagiaire.id})}}"><i class="fas fa-user"></i></a></td>
                    </tr>                
                    {% endfor %}
                </tbody>
            </thead>
        </table> 
        {% else %}
        <h2>Ajouter stagiaire </h2><span>    
        {% endif %}
        {{ form_start(form) }}
        <div class="liststag">
            <div class="flex list_stag">
                {% for stagiaire in form.stagiaires %}
                    {{ form_row(stagiaire) }}            
                {% endfor %}
            </div>
            <input class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" type="submit">
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
