{% extends 'base.html.twig' %}

{% block title %}Détail {{thisSession.nom}}{% endblock %}
{% block nav %}
{{parent()}}

{% endblock %}
{% block body %}
<div class="flex prog">
    <div>
        <div>
            
            <h1>{{thisSession.nom}}</h1>
            <a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('ModifSession',{id:thisSession.id})}}"><i class="far fa-edit"></i></a>
            {% set difference = thisSession.dateDebut.diff(thisSession.dateFin) %}
            <div class="mt-4">
                {% set comp = ""  %}
                {% set places = thisSession.nbPlaces - thisSession.stagiaires | length %}
                {% if places == 0 %}
                    {% set comp = "errors" %}
                    {% set places = 'formation complète' %}
                    
                {% endif %}
                <p class="text-center alert alert-dark">Du {{thisSession.dateDebut| date("d/m/Y")}} au {{thisSession.dateFin| date("d/m/Y")}} soit {{difference.y}} ans {{difference.m}} mois et {{difference.d}} jours</p>
                <div class="flex align-middle" >
                    <span class="alert alert-dark">nb places : {{thisSession.nbPlaces}} - places restantes :<span class={{comp}}> {{places}} </span></span>
                    {% if thisSession.programmes | length == 0 %}
                    <a class="text-center alert alert-dark" href="{{path('CreaProgramme',{id:thisSession.id})}}">Créer un programme de formation</a>
                    {% else %}
                    <a class="text-center alert alert-dark" href="{{path('CreaProgramme',{id:thisSession.id})}}">Ajouter un module</a>
                    {% endif %}
                    <a class="text-center alert alert-dark" href="{{path('trombi',{id:thisSession.id})}}">Trombinoscope</a>
                </div>
            </div>
        </div>
        <table class="table">
            <thead class="thead-light">
                <th scope="col">Module</th>
                <th scope="col">Duree</th>
                <th scope="col"></th>
                <tbody>                    
                    {% for  key,cat in tab  %}
                    <tr class="title_cat">
                        <td colspan="3">
                            {{key}}
                        </td>
                    </tr>   
                        {% for programme in cat  %}
                        <tr id="programme_{{programme.id}}">
                            <td>{{programme.module.nom}}</td>
                            <td>{{programme.duree}}</td>
                            <td width="15%">
                                <a data-id="{{programme.id}}" data-session="{{thisSession.id}}" class="delProgramme border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('programme_delete')}}"><i class="far fa-trash-alt"></i></a>
                                <a class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" href="{{path('ModifModule',{id:programme.module.id})}}"><i class="far fa-edit"></i></a>
                            </td>
                        </tr>
                        {% endfor %}                    
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
        {% set inscrit = [] %}
        {% set nonInscrit = [] %}
        {% for stagiaire in form.stagiaires %}
            
            {% if stagiaire.vars.checked == 1 %}
            {% set inscrit = inscrit | merge([stagiaire]) %}
            {% else %}
            {% set nonInscrit = nonInscrit | merge([stagiaire]) %}
            {% endif %}
        {% endfor %}
        <div>
            <h4>Stagiaire inscrits</h4>
        <table class="table ">
            <thead class="thead-light">
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">age</th>
                <th scope="col">inscrit</th>
                <th scope="col"></th>
            </thead>            
            {{form_start(form)}}
            <tbody id="inscrit">
            {% for stagiaire in inscrit %}
            {% set index  = stagiaire.vars.value %}    
            {% set entity = form.stagiaires.vars.choices[index].data %}
            {% set difference = date("now").diff(date(entity.birth)) %}
                <tr id="{{entity.id}}">
                    <td>{{entity.nom}}</td>
                    <td>{{entity.prenom}}</td>
                    <td>{{difference.y}}</td>
                    <td> {{form_row(stagiaire,{ 'attr': {'data-session': thisSession.id,'data-stagiaire':entity.id}})}}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>            
        </table>
        <h4>Stagiaire non inscrits</h4>
        <table class="table ">
            <!-- <thead class="thead-light">
                <th scope="col">Nom</th>
                <th scope="col">prenom</th>
                <th scope="col">age</th>
                <th scope="col">inscrit</th>
                <th scope="col"></th>
            </thead>-->
            <tbody id="nonInscrit">
            {% for stagiaire in nonInscrit %}
            {% set index  = stagiaire.vars.value %}    
            {% set entity = form.stagiaires.vars.choices[index].data %}
            {% set difference = date("now").diff(date(entity.birth)) %}
                <tr id="{{entity.id}}">
                    <td>{{entity.nom}}</td>
                    <td>{{entity.prenom}}</td>
                    <td>{{difference.y}}</td>
                    <td> {{form_row(stagiaire,{ 'attr': {'data-session': thisSession.id,'data-stagiaire':entity.id}})}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                <!-- <input class="border border-dark rounded d-inline-block p-1 mt-1 mb-2 bg-light text-dark" type="submit"> -->
                
            </tbody>
        </table>
        {{form_end(form)}}
    </div>
        </div>
    </div>
</div>
{% endblock %}
