{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<table class="table">
    <thead class="thead-light">
        <tr>
            <td colspan="2">
                <h1>{{session.nom}}</h1>
            </td>
        </tr>
        <th scope="col">Module</th>
        <th scope="col">Duree</th>
        {% set catNom = "" %}
        <tbody>
            {% for programme in session.programmes %}
            {# {% set catNom = programme.module.categorie.nom %} #}
            {% if catNom != programme.module.categorie.nom %}
            {% set catNom = programme.module.categorie.nom %}
                <tr class="title_cat">
                    <td colspan="2">
                        {{programme.module.categorie.nom}}
                    </td>
                </tr>                
            {% endif %}
            <tr>
                <td>{{programme.module.nom}}</td>
                <td>{{programme.duree}}</td>
            </tr>                
            {% endfor %}
        </tbody>
    </thead>
</table>
<table class="table">
    <thead class="thead-light">
        <tr>
            <td colspan="2">
                <h2>Stagiaires participants</h2>
            </td>
        </tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <tbody>
            {% for stagiaire in session.stagiaires %}
            <tr>
                <td>{{stagiaire.nom}}</td>
                <td>{{stagiaire.prenom}}</td>
            </tr>                
            {% endfor %}
        </tbody>
    </thead>
</table>
<a href="{{path('CreaProgramme',{id:session.id})}}">Créer un programme de formation</a>
<a href="{{path('addStagiaireSess',{id:session.id})}}">Ajouter un stagiaire</a>
{% endblock %}
