{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block test %}{% endblock %}
{% block body %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Title of the PDF</title>
    </head>
    <body>
        <h4 style="text-align: center;margin-top:4em;">{{ title }}</h4>
        <p style="text-align: center;">Nous attestons par la présente attestation que :</p>
        <p style="text-align: center;">{{stagiaire.nom|capitalize}} {{stagiaire.prenom|capitalize}}</p>
        <p style="text-align: center;"> est {% if stagiaire.sexe == 1 %}inscrit {% else %} inscrite {% endif %}</p>
        <p style="text-align: center;">à la formation {{session.nom}}</p>
        <p style="text-align: center;">qui aura lieu du {{session.dateDebut | date('d/m/Y')}} au {{session.dateFin | date('d/m/Y')}} </p>
        <p>Modules abordés : </p>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Module</th>
                    <th scope="col">Duree</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>                    
                {% for  key,cat in tab  %}
                <tr class="title_cat"style="background:rgb(220,220,220,0.8);text-align:center;">
                    <td colspan="3">
                        {{key}}
                    </td>
                </tr>   
                    {% for programme in cat  %}
                    <tr id="programme_{{programme.id}}">
                        <td>{{programme.module.nom}}</td>
                        <td>{{programme.duree}}</td>
                    </tr>
                    {% endfor %}                    
                {% endfor %}
            </tbody>
        <p >Fait le {{ "now"|date("d/m/Y") }} à Strasbourg</p>
    </body>
</html>
    
{% endblock %}
{% block javascripts %}{% endblock %}
