{% extends 'base.html.twig' %}
{% block nav %}{% endblock %}
{% block test %}{% endblock %}
{% block body %}
<html>
    <body style="font-family: sans-serif;">
        <h1 style="text-align: center;margin-top:4em;">{{ title }}</h1>
        <p >Nous attestons par la présente que :</p>
        <p style="text-align: center;">
            {{stagiaire.nom|capitalize}} {{stagiaire.prenom|capitalize}}
            <img style="width:200px; border-radius:100%;" src="{{photo}}" alt="">
        </p>
        <p > est {% if stagiaire.sexe == 1 %}inscrit {% else %} inscrite {% endif %} à la formation</p>
        <h4 style="text-align: center;"> {{session.nom}}</h4>
        <p >qui aura lieu du {{session.dateDebut | date('d/m/Y')}} au {{session.dateFin | date('d/m/Y')}} </p>
        <p>Modules abordés : </p>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Module</th>
                    <th scope="col">Duree</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>                    
                {% for  key,cat in tab  %}
                <tr class="title_cat"style="background:rgb(220,220,220,0.8);text-align:center;">
                    <td colspan="3">
                        {{key}}
                    </td>
                </tr>   
                    {% for programme in cat  %}
                    <tr id="programme_{{programme.id}}">
                        <td>{{programme.module.nom}}</td>
                        <td>{{programme.duree}}</td>
                    </tr>
                    {% endfor %}                    
                {% endfor %}
            </tbody>
            <p>signature : ............</p>
        <p>Fait le {{ "now"|date("d/m/Y") }} à Strasbourg </p>
    </body>
</html>
    
{% endblock %}
{% block javascripts %}{% endblock %}
