<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{asset('img/logo.png')}}"/>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block test %}
        <header>
            <i class="modileMenu fas fa-bars"></i>
        </header>
        <div id="slide">
            <nav class=" navbar-dark bg-dark p-3" style="background-color: #e3f2fd;">
                {% block nav %}
                <div class="konami">
                    <img src="{{asset('img/konami.jpg')}}" alt="">
                </div>
                <div>
                    <a class=" bg-light text-dark rounded" href="{{path('home')}}">Liste des sessions</a>
                </div>
                 <div>
                    <a class=" bg-light text-dark rounded" href="{{path('creaListMat')}}">créer liste de matériel</a>
                </div>
                <div>
                    <a class=" bg-light text-dark rounded" href="{{path('creaCategorie')}}">Créer catégorie</a>
                </div>
                <div>
                    <a class=" bg-light text-dark rounded" href="{{path('stagiaire')}}">Liste des stagiaires</a>
                </div>
                <div>
                    <a class="rounded  bg-light text-dark"href="{{path('addStagiaire')}}">Ajouter un stagiaire</a>
                </div>
                <div>
                    <a class="rounded  bg-light text-dark"href="{{path('affich_module')}}">liste des modules</a>
                </div>
                {% if app.user %}
                    <div>
                        <a class="rounded  bg-light text-dark"href="{{path('app_register')}}">Register</a>
                    </div>
                    <div>
                        <a class="rounded  bg-light text-dark"href="{{path('app_logout')}}">Déconnexion</a>
                    </div>
                {% else %}
                    <div>
                        <a class="rounded  bg-light text-dark"href="{{path('app_login')}}">connexion</a>
                    </div>                   
                {% endif %}                
                {% endblock %}
            </nav>
        </div> 
        {% set session = app.session.get('sessions') %}
                
        {% endblock %}
        <div class="wrapper container-fluid">
            {% block toto %}
                
            <div id="errors">
                {% for message in app.flashes('error') %}
                    <p class="errors alert alert-danger">{{ message }}</p>
                {% endfor %}
            </div>
            <div id="success">
                {% for message in app.flashes('success') %}
                <p class="success alert alert-success">{{ message }}</p>
                {% endfor %}
            </div>
            {% endblock %}
            {% block body %}
                
                
            {% endblock %}

        </div>
        <footer></footer>
        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
            {# <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.8.1"></script>
            <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset('scripts/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
