<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="../logo.png"/>
        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block test %}
        <div id="slide">
            <nav class=" d-flex justify-content-start flex-column navbar-dark bg-dark p-3" style="background-color: #e3f2fd;">
                {% block nav %}
                <a class="p-1 mb-4 bg-light text-dark rounded" href="{{path('home')}}">Liste des sessions</a>
                <a class="p-1 mb-4 bg-light text-dark rounded" href="{{path('stagiaire')}}">Liste des stagiaires</a>
                <a class="rounded p-1 mb-4 bg-light text-dark"href="{{path('addStagiaire')}}">Ajouter un stagiaire</a>                
                <a class="rounded p-1 mb-4 bg-light text-dark"href="{{path('affich_module')}}">liste des modules</a>
                {% endblock %}
            </nav>
        </div> 
        {% set session = app.session.get('sessions') %}
        
        <h4 style="text-align: right;padding:0 1em;">
            Actuellement {{ session|length }} {% if session|length >0 %}sessions {% else %}session{% endif %}
            en cours.
        </h4>
        <h4 style="position: fixed; top:0">{{ "now"|date("d/m/Y") }}</h4>
            
        {% endblock %}
        <div class="wrapper">
            {% block toto %}
                
            <div id="errors">
                {% for message in app.flashes('error') %}
                    <p class="errors">{{ message }}</p>
                {% endfor %}
            </div>
            <div id="success">
                {% for message in app.flashes('success') %}
                    <p class="success">{{ message }}</p>
                {% endfor %}
            </div>
            {% endblock %}
                <header>
                    <i class="modileMenu fas fa-bars"></i>
                </header>
            {% block body %}
            {% endblock %}

        </div>
        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
            {# <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="{{ asset('scripts/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
